.calculator {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    background-color: black;
    border-radius: 10px;
    border: 5px solid rgb(128, 8, 8);
}

.display {
    font-size: 24px;
    text-align: center;
    align-content: center;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
}

button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;

    width: 20%;
    height: calc(100%/4);

    font-size: 18px;
}