.calculator {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    background-color: black;
    border-radius: 10px;
    border: 5px solid rgb(24, 4, 68);
}

.display {
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    align-content: end;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 50px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
}

button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 12px;

    width: 20%;
    height: calc(100%/4);

    font-size: 18px;
    font-weight: 800;
}

.number {
    color : rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
}

.special {
    color : rgb(255, 255, 255);
    background-color: rgb(100, 86, 86);
}

.operator,.equal,.erase{
    color : rgb(255, 255, 255);
    background-color: rgb(82, 6, 6);
}